.not-checked{
  opacity: 0.5;
}

.valid{
  color: green;
  opacity: 1;
}

.in-valid{
  color: red;
  opacity: 1;
}

.note-type-tag{
  position: relative;
  display: inline-block;
  height: 20px;
  padding: 3px 5px;
  margin: 0 1px 0px 0px;
  overflow: hidden;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}

.note-type-tag-class-1{
  background-color: #A70000;
}
.note-type-tag-class-2{
  background-color: #63636A;
}
.note-type-tag-class-3{
  background-color: #42C74B;
}

.inline-label{
  display: inline-block;
  margin-right: 5px;
}

.progress-overall{
  background-color: #084c61;
}

.progress-psiceval{
  background-color: #db504a;
}

.progress-attributes{
  background-color: #e3b505;
}

.progress-experience{
  background-color: #56a3a6;
}

.opportunity-select label{
  font-size: 12px;
}

.order-select{
  text-align: right;
}

.order-select label{
  font-size: 12px;
}

.order-select .input-group{
  float: right;
}

#profiles-table td.person img{
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

#profiles-table td.notes_tags{
  text-align: center;
}

#profiles-table td.notes_tags a{
  white-space: nowrap;
}

#profiles-table td.person,
#profiles-table td.jobs,
#profiles-table td.test_info,
#profiles-table td.score_display{
  white-space: nowrap;
}

#profiles-table td.score_display small{
  font-size: 10px;
  line-height: 1em;
}

#profiles-table td.score_display .progress{
  margin-bottom: 5px;
  height: 5px;
}

.not_employee{
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.5;
}


.personal-style-graphic-bars .progress {
  margin-top: 5px;
  margin-bottom: 15px;
  height: 20px;
}

.personal-style-graphic-bars .progress .progress-bar {
  line-height: 20px;
}

.test-table .results td{
  text-align: center;
}

.test-table .go-button-container{
  margin-bottom: 30px;
}

.test-table table td{
  white-space: nowrap;
}
.test-table table td.hidden{
  display: none;
}

.answer-select{
}

.answer-terms{
}

.answer-select select{
  width: 100%;
  margin: 10px 0;
}

.center{
  text-align: center;
}

@media (min-width: 768px){
  .test-table .table > thead > tr > th, .test-table .table > tbody > tr > th, .test-table .table > tfoot > tr > th, .test-table .table > thead > tr > td, .test-table .table > tbody > tr > td, .test-table .table > tfoot > tr > td {
      padding: 9px 15px;
  }
}

.instrucciones-container{
  margin-bottom: 20px;
  position: relative;
}


/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: #5dade2;
    color: #5dade2;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 99999;
    float: left;
}

.drop-column-title{
  text-align: center;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
  width: 18%;
  margin: 10px 1%;
  float: left;
}

.drop-column-container{
  display: flex;
  width: 100%;
}

.drop-column{
  width: 18%;
  margin: 10px 1%;
  padding: 1%;
  float: left;
  border: 1px solid #f7f9fa;
  border-radius: 6px;
}

.drop-column-title-attr{
  text-align: center;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
  width: 23%;
  margin: 10px 1%;
  float: left;
}

.drop-column-attr{
  width: 23%;
  margin: 10px 1%;
  padding: 1%;
  float: left;
  border: 1px solid #f7f9fa;
  border-radius: 6px;
}

.submit-right{
  text-align: right;
}

.opportunity-header{
  margin-bottom: 20px;
}
