<form class="form-signin">
  <div class="modal-header">
    <h3 class="modal-title">Ingreso de Usuarios</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-warning" style="display:none" id="loginAlert">
      El e-mail y password que has introducido no coinciden.
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus ng-model="email">
      </div>
    </div>
    <div class="form-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label class="checkbox" for="checkbox4">
          <input type="checkbox" ng-model="remember" value="" id="checkbox4" checked="false" class="custom-checkbox">
          <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
          Recordarme
        </label>
      </div>
      <div class="form-group col-md-6" style="text-align:right">
        <small><a href="#/password/recover">Recuperar Contraseña</a></small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
    <button class="btn btn-primary" ng-click="ok()">Ingresar</button>
  </div>
</form>
