<div class="row test-header">

  <div class="col-md-9 col-sm-9 col-xs-9">

    <h2>Indicador de Estilo Personal</h2>

  </div>

</div>

<div class="row instrucciones-container">

  <div class="col-md-12 col-sm-12 col-xs-12 ">

    <a ng-click="toggleInstructions()" ng-hide="showInstructions" class="btn btn-xs btn-info instructions-button">Ver Instrucciones <span class="fui-triangle-down"></span></a>

    <a ng-click="toggleInstructions()" ng-hide="!showInstructions" href="#fakelink" class="btn btn-xs btn-info instructions-button">Ocultar Instrucciones <span class="fui-triangle-up"></span></a>

  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 instrucciones" ng-hide="!showInstructions">

    <h4>Instrucciones para completar la evaluación</h4>

    <p><small>La evaluación contiene 16 filas con palabras. En cada fila hay 4 palabras descriptivas en negrita, con 3 definiciones, explicaciones o sinónimos debajo de cada palabra en negrita. El objetivo es usar las palabras en negrita para describir cómo te ves a ti mismo la mayoría del tiempo, con la mayoría de las personas, en la mayoría de situaciones. En cada fila, debes asignar el número 4, 3, 2 o 1 a cada palabra en negrita. Asigna el número 4 a la palabra que esté más cerca de describirte, incluso si piensas que no eres como ninguna de las palabras de la fila. Asigna el 3 a la siguiente palabra que se acerque más a describirte, y asigna un 2 a la siguiente palabra que se acerque más a describirte luego de la anterior. Asigna el 1 a la palabra que menos te describa. Debes usar cada número solamente una vez por fila. Debes sumar los resultados de cada columna, y todas las columnas sumadas entre sí deben dar 160.</small></p>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="lead center">
            Ejemplo
          </td>
          <td>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 answer-select">
                <select selected="3">
                  <option value="3">3</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 answer-terms">
                <strong>Artístico</strong>
              </div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 answer-select">
                <select selected="3">
                  <option value="3">4</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 answer-terms">
                <strong>Técnico</strong>
              </div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 answer-select">
                <select selected="3">
                  <option value="3">1</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 answer-terms">
                <strong>Productivo</strong>
              </div>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 answer-select">
                <select selected="3">
                  <option value="3">2</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 answer-terms">
                <strong>Colaborador</strong>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<div class="row test-table">

  <div class="col-md-12 col-sm-12 col-xs-12">

    <table class="table table-bordered">
      <tbody>
        <tr ng-repeat="line in terms">
          <td class="lead center">
            <span class="counter">{{$index+1}}</span>
            <span ng-class="validate[$index].class"></span>
          </td>
          <td ng-repeat="block in line">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 answer-select">
                <select ng-model="answers[$parent.$index][$index]">
                  <option ng-repeat="n in [1,2,3,4]">{{n}}</option>
                </select>
              </div>

              <div class="col-md-12 col-sm-12 col-xs-12 answer-terms">
                <strong>{{block[0]}}</strong><br/>
                {{block[1]}}<br/>
                {{block[2]}}<br/>
                {{block[3]}}<br/>
              </div>
            </div>
          </td>
        </tr>
        <tr class="results">
          <td>Resultados</td>
          <td class="lead">{{results[0]}}</td>
          <td class="lead">{{results[1]}}</td>
          <td class="lead">{{results[2]}}</td>
          <td class="lead">{{results[3]}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 go-button-container">

    <a ng-click="goToResults()" class="btn btn-hg btn-info btn-block" ng-class="(ValidAnswers)?'':'disabled'">Ver Resultados<span class="fui-arrow-right pull-right"></span></a>

  </div>

</div>
