<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <h4>
      Oportunidades Laborales
    </h4>
    <h5>
      {{department.name}}<br/>
      <small>{{organization.name}}</small>
    </h5>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="ops in opportunities">
    <div class="panel panel-info">
      <div class="panel-heading">{{ops.name}}</div>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Perfil Psicológico: </strong>
          <span class="label label-info inline-label" ng-repeat="pattern in ops.parameters.profile_patterns">
            <span ng-repeat="pat in pattern.patterns">{{pat}} +</span>: {{pattern.factor}}
          </span>
        </li>
        <li class="list-group-item">
          <strong>Atributos: </strong>
          <span class="label label-info inline-label" ng-repeat="attr in ops.parameters.attributes">
            {{getAttributeName(attr.attribute_id)}}: {{attr.requirement}}
          </span>
        </li>
        <li class="list-group-item">
          <strong>Experiencia Laboral:</strong>
          <span class="label label-info inline-label">Experiencia Anterior: {{ops.parameters.experience.previous}}</span>
          <span class="label label-info inline-label">Estabilidad Laboral (6+meses): {{ops.parameters.experience.stability}}</span>
        </li>
        <li class="list-group-item">
          <strong>Estado Laboral:</strong>
          <span class="label label-info inline-label">En Organización: {{ops.parameters.employent.is_employee}}</span>
          <span class="label label-info inline-label">Empleado: {{ops.parameters.employent.employed}}</span>
          <span class="label label-info inline-label">Desempleado: {{ops.parameters.employent.unemployed}}</span>
        </li>
      </ul>
    </div>
  </div>

</div>
