<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <a href="#fakelink" class="bottom-menu-brand">Host Hound</a>
    </div>
    <div class="col-md-8 col-sm-8">
      <ul class="bottom-menu-list">
        <li><a href="#fakelink">Metodología</a></li>
        <li><a href="#fakelink">Tesis</a></li>
        <li><a href="#fakelink">Autor</a></li>
        <li><a href="/test">Test</a></li>
        <li><a href="#fakelink"></a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-2">
      <ul class="bottom-menu-iconic-list">
        <li><a href="#fakelink" class="fui-facebook"></a></li>
        <li><a href="#fakelink" class="fui-twitter"></a></li>
      </ul>
    </div>
  </div>
</div>
