<div class="col-md-4">
  <h1>Host Hound</h1>
</div>
<div class="col-md-5 col-md-offset-3" style="margin-top: 30px; text-align:right">

  <div class="btn-group">
    <a href="{{currentGroup.slug}}" class="btn btn-default" type="button">Noi Santiago</a>
    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul role="menu" class="dropdown-menu">
      <li role="presentation"><a href="{{currentGroup.slug}}/members" tabindex="-1" role="menuitem">Ver Miembros</a></li>
      <li role="presentation"><a href="{{currentGroup.slug}}/modify" tabindex="-1" role="menuitem">Modificar Grupo</a></li>
      <li role="presentation"><a href="groups/switch" tabindex="-1" role="menuitem">Cambiar Grupo</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a href="groups/new" tabindex="-1" role="menuitem">Crear Grupo</a></li>
    </ul>
  </div>
  <a href="login">Login</a>
  <!--
  &nbsp;&nbsp;
  <a href="#/me">
    <span class="fui-user"></span> Sofía González
  </a>&nbsp;&nbsp;
  <a href="#/logout" tabindex="-1" role="menuitem"><span class="fui-power"></span></a>
  -->

</div>
