<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <a href="/o/{{organization.id}}" class="btn btn-xs btn-info"><span class="fui-arrow-left"></span> Volver a Organización</a>
    <h4>
      {{department.name}}<br/>
      <small>{{organization.name}}</small><br/>
    </h4>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <h5>Perfiles en Base de Datos</h5>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">

    <a href="/o/{{organizationId}}/{{departmentId}}/opportunities" class="btn btn-sm btn-info"><span class="fui-list-columned"></span> Ver Oportunidades Laborales</a>
    <a href="/o/{{organizationId}}/{{departmentId}}/opportunities/new" class="btn btn-sm btn-info mlm"><span class="fui-new"></span> Nueva Oportunidad Laboral</a>

  </div>

  <div class="col-md-8 col-sm-8 col-xs-8 opportunity-select">

    <div class="form-group">
      <label>Selecciona una Oportunidad Laboral</label>
      <div class="input-group">
        <select class="form-control" ng-model="currentOpportunity"
        ng-options="opportunity.name for opportunity in opportunities track by opportunity.id">
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="doApplyOpportunity()">Aplicar!</button>
        </span>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-sm-4 col-xs-4 order-select">

    <div class="form-group">
      <label>Ordenar por Evaluación</label>
      <div class="input-group">
        <select class="form-control" ng-model="tableOrder"
        ng-options="option.name for option in tableOrderOptions track by option.column">
        </select>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="reorderTable()">Ordenar!</button>
        </span>
      </div>
    </div>

  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" id="ngProgressRow"></div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <table class="table table-bordered" id="profiles-table">
      <thead>
        <tr>
          <th class="person">Personal</th>
          <th class="jobs">Experiencia Laboral</th>
          <th class="score_display">Evaluación</th>
          <th class="notes_tags">Anotaciones</th>
          <th class="hidden"></th>
          <th class="hidden"></th>
          <th class="hidden"></th>
          <th class="hidden"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>
</div>
